.container {
    background-color: white;
    text-align: center;
}
.nav{
    background-color: #F8F;
    height: 225px;
    font-family: Garamond, Arial, serif;
    font-size: 20px;
    width: 935px;
    text-align: center;
}
.nav li a:link, .nav li a:visited {
    text-decoration: none; width:145px;
    display: block;
    text-align: center;
    border-style: solid;
    padding: 10px 10px 10px 10px;
}
.nav ul{
    list-style-type: none;
}
.nav li {
    float: left;
}
.nav li a:hover, .nav li a:active {
    background-color: aqua;
}
#header {color: yellow;
font-size: 30px;
text-align: center;
}
.side {
    background-color: teal;
    height: 300px;
    font-size: 21px;
    color: yellow;
    float: left;
    width: 160px;
    text-align: left;
    border-style: solid;
    padding: 5px 5px 15px 55px;
}
.copy { 
    border-style: dotted;
    font-size: 23px;
    background-color: #F8F094;
    float: left;
    padding: 25px 5px 45px 25px;
    width: 330px;
    margin: 4px 10px 
    height: 300px;
}
.main {
    background-color: #F8F094;
    color: blue;
    height:999px;
    width:935px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}
.moneyback {
    background-color: #F8F094;
    color: blue;
    height: 935px;
    width: 920px;
    text-align: center;
    border-style: dashed;
}
.footer {
    background-color: #F8F;
    height: 95px;
    clear: both;
    font-family: Garamond, Arial, serif;
    font: bold;
    font-size: 25px;
    text-align: center;
    color: blue;
    width: 935px;
}